<section class="section first">
  <div class="container">
    <div class="container-bg">
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
    </div>
    <div class="bg-triangles animated rollIn">
      <svg xmlns="http://www.w3.org/2000/svg" width="352" height="176" viewBox="0 0 352 176">
        <defs>
          <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
            <stop offset="0%" stop-color="#F48145" />
            <stop offset="100%" stop-color="#E54A21" />
          </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd" stroke-width="50">
          <path stroke="#6A44E5" d="M146.699-27.216l178.723 56.128a1 1 0 0 1 .42 1.65l-115.15 119.24a1 1 0 0 1-1.662-.362L146.699-27.216z"
          />
          <path stroke="url(#a)" d="M93.337 11.837l83.777 167.553a1 1 0 0 1-.895 1.447H10.455a1 1 0 0 1-.894-1.447L93.337 11.837z"
            transform="rotate(6 944.907 281.31)" />
        </g>
      </svg>
    </div>
    <div class="section-inner">
      <div class="slider">
        <div class="slider-item mobile show animated fadeInLeft">
          <div class="slider-item-square" id="slide1">
            <div class="square-img" data-depth="0.2">
              <svg xmlns="http://www.w3.org/2000/svg" width="361" height="359" viewBox="0 0 361 359" class="triangle">
                <path fill="none" fill-rule="evenodd" stroke="#F4F96F" stroke-width="70" d="M180.5 77.916L56.772 324h247.456L180.5 77.916z"
                />
              </svg>
            </div>
            <div class="square-img" data-depth="0.5">
              <img class="iphone" src="img/iphone.png" alt="iphone">
            </div>
            <div class="square-img" data-depth="0.8">
              <img class="astronaut" src="img/astronaut.png" alt="astronaut">
            </div>
            <div class="square-arrows">
              <div class="arrows-inner">
                <div class="square-arrows-item prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <g fill="none" fill-rule="evenodd" stroke="#000" transform="matrix(0 -1 -1 0 27 27)">
                      <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
                    </g>
                  </svg>
                </div>
                <div class="square-arrows-item next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <g fill="none" fill-rule="evenodd" stroke="#000" transform="rotate(90 14 13)">
                      <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item-title">
            <h2 class="title">
              <span class="heavy">Мобильная</span> разработка</h2>
            <span class="subtitle">Приложения любого масштаба</span>
          </div>
          <div class="slider-item-list">
            <ul class="list">
              <li class="list-item">Android приложения</li>
              <li class="list-item">iOS приложения</li>
              <li class="list-item">Windows Mobile</li>
            </ul>
          </div>
        </div>
        <div class="slider-item web">
          <div class="slider-item-square" id="slide2">
            <div class="square-img" data-depth="0.2">
              <svg xmlns="http://www.w3.org/2000/svg" width="361" height="359" viewBox="0 0 361 359" class="triangle">
                <path fill="none" fill-rule="evenodd" stroke="#F4F96F" stroke-width="70" d="M180.5 77.916L56.772 324h247.456L180.5 77.916z"
                />
              </svg>
            </div>
            <div class="square-img" data-depth="0.5">
              <img class="mac" src="img/mac.png" alt="mac">
            </div>
            <div class="square-img" data-depth="0.5">
              <img class="cofe" src="img/cofe.png" alt="cofe">
            </div>
            <div class="square-arrows">
              <div class="arrows-inner">
                <div class="square-arrows-item prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <g fill="none" fill-rule="evenodd" stroke="#000" transform="matrix(0 -1 -1 0 27 27)">
                      <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
                    </g>
                  </svg>
                </div>
                <div class="square-arrows-item next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                    <g fill="none" fill-rule="evenodd" stroke="#000" transform="rotate(90 14 13)">
                      <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item-title">
            <h2 class="title">
              <span class="heavy">Разработка</span> сайтов</h2>
            <span class="subtitle">Высокого качества</span>
          </div>
          <div class="slider-item-list">
            <ul class="list">
              <li class="list-item">Landing page</li>
              <li class="list-item">Сайт визитка</li>
              <li class="list-item">Корпоративный сайт</li>
              <li class="list-item">Сайт каталог</li>
              <li class="list-item">Интернет магазин</li>
              <li class="list-item">Уникальный сайт</li>
            </ul>
          </div>
        </div>
        <div class="slider-item lead">
          <div class="slider-item-square"></div>
          <div class="slider-item-title">
            <h2 class="title">
              <span class="heavy">Лидогенерация</span>
            </h2>
            <span class="subtitle">Продвижение в интернете</span>
          </div>
          <div class="slider-item-list">
            <ul class="list">
              <li class="list-item">Интеренет реклама</li>
              <li class="list-item">Полная оптимизация</li>
              <li class="list-item">SMM</li>
              <li class="list-item">SEM</li>
              <li class="list-item">SEO</li>
              <li class="list-item">Media Buying</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>