.second
  .section-inner
    .features
      &-row
        margin-bottom: 100px
      &-item
        display: inline-block
        width: 33%
        padding: 0 8px
        vertical-align: top
        &-icon
          margin-bottom: 20px
        &-title
          font-family: $additional-font
          line-height: .5
        &-text
          opacity: 0.78
          font-size: 14px
          line-height: 1.3