@import "fonts"
@import "libs"
@import "vars"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

html, body
	height: 100%

body
	color: #000
	font-size: $font-size
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: $bg-color
	font-weight: 300

//helpers
@import "footer"
.btn
  width: 150px
  height: 31px
  border-radius: 4px
  background-color: #e54a21
  font-size: 10px
  color: #ffffff
  border: none
  outline: none
  transition: all 0.5s ease

  &:hover
    box-shadow: 0 10px 10px -5px rgb(229, 74, 33)
.heavy
	font-weight: 900

.socials

.container
	display: flex
	width: $container-width
	flex-direction: column
	justify-content: center
	position: relative
	&-bg
		z-index: -1
		font-size: 0
		position: absolute
		width: 100%
		height: 100%
		&-col
			display: inline-block
			width: 33.33%
			height: 100%
			opacity: 0.15
			border-left: 1px solid #5325e5
			&:last-child
				border-right: 1px solid #5325e5
.wrapper
	min-height: 100vh
	position: relative
	overflow: hidden

	@import "elements"
	
	.main
		
		@import "first"
		@import "second"
		@import "third"
		@import "fourth"
		
		
		.web

		.mobile
		
		// @import "lead"
		.lead
			position: relative
			display: flex
			flex-direction: column
			align-items: center

			.container
				padding: 100px 0

				.laed-header
					display: flex

					.text
						h2
							margin: 0
							font-family: $second-font
							font-size: 48px
							font-weight: bold
							color: #000000
							line-height: 50px

						p
							font-size: 16px
							font-weight: 300
							font-stretch: condensed
							line-height: 1.5
							color: #383838

					.header-img
						img
							width: 361px

				.lead-list

					.first-list,.second-list
						display: flex

						.column
							width: 33.33%
							padding: 0 10px

							h3
								margin: 0
								font-family: $second-font
								font-size: 16px
								font-weight: 900
								color: #000000
								display: inline-block
								position: relative
								&:after
									content: " "
									position: absolute
									top: 50%
									left: -15px
									width: 6px
									height: 6px
									background: #5021e5
									border-radius: 50%
									transform: translateY(-50%)
							p
								font-size: 14px
								font-weight: 300
								font-stretch: condensed
								line-height: 1.21
								color: #000000


.gm-style .gm-style-iw
	background-color: #6a44e5 !important
	top: 0 !important
	left: 0 !important
	width: 100% !important
	height: 100% !important
	min-height: 40px !important
	padding: 20px 5px
	display: block !important


/*style the p tag*/
.gm-style .gm-style-iw #google-popup p
	padding: 10px



/*style the arrow*/
.gm-style div div div div div div div div
	background-color: #6a44e5 !important
	padding: 0
	margin: 0
	padding: 0
	top: 0
	color: #fff
	font-size: $font-size