@import "normalize"
@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

// to do

.container
	width: $container-width

.wrapper
	min-height: 100vh
	position: relative
	overflow: hidden

	.header
		position: absolute
		height: 50px

	.nav
		position: absolute
		width: 30px

	.socials
		position: absolute

	.section-name
		position: absolute
		display: none

	.main


		.first
			height: 100vh
			justify-content: center
			display: flex
			.container
        display: flex
        flex-direction: column
        justify-content: center

		.second

		.third

		.fourth

		.web

		.mobile

		.lead

