@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body
	height: 100%

body
	color: #000
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: $bg-color
	font-weight: 300

// to do

.heavy
	font-weight: 900

.container
	width: $container-width
	display: flex
	flex-direction: column
	justify-content: center

.wrapper
	min-height: 100vh
	position: relative
	overflow: hidden

	.header
		position: absolute
		height: 50px

	.nav
		position: absolute
		width: 30px

	.socials
		position: absolute

	.section-name
		position: absolute
		display: none

	.main


		.first
			height: 100vh
			justify-content: center
			display: flex       

			.section-inner

			.slider
				display: flex
				width: 100%

				.show
					display: block
				&-item
					position: relative
					height: 450px
					display: none
					width: 100%
					&-square
						position: absolute
						top: 0
						right: 0
						border-radius: 4px
						width: 660px
						height: 100%
						z-index: 100
						.square-img
							position: absolute
						.triangle
							right: 20px
						.iphone
							right: 90px
							top: 10px
						.astronaut
							right: 95px
							top: 190px
					&-title
						position: relative 
						z-index: 200
						top: 110px
						.title
							font-size: 48px
							line-height: 48px
							margin: 0
							letter-spacing: 2.4px
							font-weight: 300
						.subtitle
							font-size: 16px
							letter-spacing: 6px
							text-transform: lowercase
							margin-left: 285px
					&-list
						position: absolute
						left: 0
						bottom: 0
						.list
							padding: 0
							margin: 0
							list-style-position: inside
							&-item
								font-size: 16px
								letter-spacing: 0.8px
								font-family: 'Roboto', sans-serif
				.mobile
					.slider-item-square
						background-color: #aae64c
				.web
					.slider-item-square
						background-color: #af96ff
				.lead
					.slider-item-square
						background-color: #e386f8
		.second

		.third

		.fourth
			height: 100vh
			display: flex
			justify-content: center

			.map-and-contacts

			.form

		.web

		.mobile

		.lead

