<section class="section first">
  <div class="section-name">
    <span class="name">Главная</span>
  </div>
  <div class="container">
    <div class="container-bg">
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
    </div>
  </div>
  <div class="slide">
    <div class="slider-item-wrapper">
      <div class="slider-item web">
        <div class="bg-waves animated slideInLeft">
          <img src="img/waves.png" alt="waves">
        </div>
        <div class="slider-item-square" id="slide2">
          <div class="square-img" data-depth="0.2">
            <svg xmlns="http://www.w3.org/2000/svg" width="310" height="310" viewBox="0 0 310 310" class="circle">
              <circle cx="958" cy="485" r="135" fill="none" fill-rule="evenodd" stroke="#F4F96F" stroke-width="40" transform="translate(-803 -330)"
              />
            </svg>
          </div>
          <div class="square-img" data-depth="0.5">
            <img class="mac" src="img/mac.png" alt="mac">
          </div>
          <div class="square-img" data-depth="0.5">
            <img class="cofe" src="img/cofe.png" alt="cofe">
          </div>
        </div>
        <div class="slider-item-title">
          <h2 class="title">
            <span class="heavy">Разработка</span> сайтов</h2>
          <span class="subtitle">Высокого качества</span>
        </div>
        <div class="slider-item-list">
          <ul class="list">
            <li class="list-item">Landing page</li>
            <li class="list-item">Сайт визитка</li>
            <li class="list-item">Корпоративный сайт</li>
            <li class="list-item">Сайт каталог</li>
            <li class="list-item">Интернет магазин</li>
            <li class="list-item">Уникальный сайт</li>
          </ul>
        </div>
        <div class="slider-item-arrows">
          <div class="arrow-item prev-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="matrix(0 -1 -1 0 27 27)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
          <div class="arrow-item next-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="rotate(90 14 13)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slider-item-wrapper">
      <div class="slider-item mobile">
        <div class="bg-triangles">
          <img src="img/triangles.png" alt="triangles">
        </div>
        <div class="slider-item-square" id="slide1">
          <div class="square-img" data-depth="0.2">
            <svg xmlns="http://www.w3.org/2000/svg" width="361" height="359" viewBox="0 0 361 359" class="triangle">
              <path fill="none" fill-rule="evenodd" stroke="#F4F96F" stroke-width="70" d="M180.5 77.916L56.772 324h247.456L180.5 77.916z"
              />
            </svg>
          </div>
          <div class="square-img" data-depth="0.5">
            <img class="iphone" src="img/iphone.png" alt="iphone">
          </div>
          <div class="square-img" data-depth="0.8">
            <img class="astronaut" src="img/astronaut.png" alt="astronaut">
          </div>
        </div>
        <div class="slider-item-title">
          <h2 class="title">
            <span class="heavy">Мобильная</span> разработка</h2>
          <span class="subtitle">Приложения любого масштаба</span>
        </div>
        <div class="slider-item-list">
          <ul class="list">
            <li class="list-item">Android приложения</li>
            <li class="list-item">iOS приложения</li>
            <li class="list-item">Windows Mobile</li>
          </ul>
        </div>
        <div class="slider-item-arrows">
          <div class="arrow-item prev-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="matrix(0 -1 -1 0 27 27)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
          <div class="arrow-item next-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="rotate(90 14 13)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slider-item-wrapper">
      <div class="slider-item lead">
        <div class="bg-squares">
          <img src="img/squares.png" alt="squares">
        </div>
        <div class="slider-item-square" id="slide3">
          <div class="square-img" data-depth="0.1">
            <svg class="squares" width="247px" height="310px" viewBox="0 0 247 310" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="LeadGeneration" transform="translate(-901.000000, -388.000000)">
                  <g id="Group-9" transform="translate(490.000000, 255.000000)">
                    <g id="Shapes" transform="translate(411.000000, 133.000000)">
                      <rect id="Rectangle-5" fill="#2874D8" x="158" y="264" width="51" height="46" rx="4"></rect>
                      <rect id="Rectangle" fill="#FF2F1D" x="132" y="109" width="36" height="48" rx="4"></rect>
                      <rect id="Rectangle-2" fill="#44B5FF" x="156" y="158" width="52" height="52" rx="4"></rect>
                      <rect id="Rectangle-3" fill="#FF2F1D" x="209" y="206" width="38" height="38" rx="4"></rect>
                      <rect id="Rectangle-16" fill="#3EB050" x="0" y="52" width="35" height="52" rx="4"></rect>
                      <rect id="Rectangle-17" fill="#FF9020" x="104" y="0" width="52" height="44" rx="4"></rect>
                      <rect id="Rectangle-18" fill="#D8D8D8" x="157" y="52" width="52" height="52" rx="4"></rect>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="square-img" data-depth="0.3">
            <img class="lego" src="img/lego.png" alt="lego">
          </div>
        </div>
        <div class="slider-item-title">
          <h2 class="title">
            <span class="heavy">Лидогенерация</span>
          </h2>
          <span class="subtitle">Продвижение в интернете</span>
        </div>
        <div class="slider-item-list">
          <ul class="list">
            <li class="list-item">Интеренет реклама</li>
            <li class="list-item">Полная оптимизация</li>
            <li class="list-item">SMM</li>
            <li class="list-item">SEM</li>
            <li class="list-item">SEO</li>
            <li class="list-item">Media Buying</li>
          </ul>
        </div>
        <div class="slider-item-arrows">
          <div class="arrow-item prev-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="matrix(0 -1 -1 0 27 27)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
          <div class="arrow-item next-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <g fill="none" fill-rule="evenodd" stroke="#000" transform="rotate(90 14 13)">
                <circle cx="14.19" cy="14.223" r="12.5" stroke-width=".5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".88" d="M12.088 19.883l6.71-4.992-6.703-5" />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>