<section class="section lead">
  <div class="section-inner">
    <div class="section-name">
      <span class="name">Лидогенерация</span>
    </div>
    <div class="container">
      <div class="container-bg">
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
      </div>
      <div class="lead-content">
        <div class="lead-header">
          <div class="text">
            <h2>Продвижение и лидогенерация</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam, quaerat obcaecati eaque iure iusto consectetur,
              dolor veritatis deleniti explicabo incidunt quibusdam quis sit. Nesciunt dolores laudantium accusamus eaque
              fuga asperiores esse deleniti minus. Asperiores magnam provident totam obcaecati dolore id optio iusto similique
              tempora! Earum, saepe qui illum accusamus, nulla iure itaque animi exercitationem sit, quae iste cum dicta.</p>
          </div>
          <div class="header-img">
            <img src="img/spaceship.png" alt="img">
          </div>
        </div>
        <div class="lead-list">
          <div class="first-list">
            <div class="column">
              <h3 class="heavy">Интернет-реклама</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repellendus molestiae vitae numquam suscipit
                ullam minus quisquam fuga sequi repellat ex sunt ipsum, in perferendis, non voluptas labore doloribus fugiat?
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">Оптимизация</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti esse omnis eius consequatur atque, numquam
                error cum praesentium, ea delectus tenetur voluptates placeat ducimus commodi aspernatur! Commodi quis at
                eum.
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">SMM</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam temporibus nam magnam perferendis voluptatibus
                debitis vero tempora quidem aut odit veniam optio libero magni molestiae, ipsum consequatur porro, eligendi
                alias?
              </p>
            </div>
          </div>
          <div class="second-list">
            <div class="column">
              <h3 class="heavy">SEM</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, rerum facilis officiis nostrum debitis harum
                omnis inventore animi, sequi voluptate quam perferendis deserunt eos blanditiis quaerat dolor veniam, veritatis
                minus?
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">SEO</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sit eveniet a, repellat aliquid quaerat!
                Eligendi saepe provident et sunt ipsa illo culpa molestiae dolor, voluptas rerum modi. Natus, doloremque?</p>
            </div>
            <div class="column">
              <h3 class="heavy">Media Buying</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In mollitia earum inventore laudantium quaerat eveniet
                minima repudiandae nihil, error labore alias voluptates fugiat, doloribus dicta dolorum. Ad maxime reprehenderit
                nobis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>