<section class="lead">
  <div class="container">
    <div class="container-bg">
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
      <div class="container-bg-col"></div>
    </div>
    <div class="lead-content">
      <div class="lead-header">
        <div class="text">
          <h2>Продвижение и лидогенерация</h2>
          <p>Получение контактов потенциальных клиентов, заинтересованных в товаре или услуге. В переводе с английского lead –
            это наводка. То есть лидогенерация это генерация наводок потенциальных покупателей.
            <br> Именно лиды являются главным в продвижении сайта. Заказывая продвижение ресурса, главная задача увеличить поток
            заказов, следствие чего рост прибыли с сайта. Отдел рекламы и маркетинга в компании Quantum Projects полностью
            в вашем распоряжении, но есть один нюанс, командовать парадом будем мы!</p>
        </div>
        <div class="header-img">
          <img src="img/spaceship.png" alt="img">
        </div>
      </div>
      <div class="lead-list">
        <div class="first-list">
          <div class="column">
            <h3 class="heavy">Интернет реклама</h3>
            <p>Доказывать то что реклама в интернете работает нет необходимости. На данный момент бюджеты рекламных компаний в
              сети гораздо превышают бюджеты наружной и телевизионной рекламы. Наш рекламный отдел самый большой в компании.
              Мы уделяем много времени и сил продвижению ресурсов. За время работы мы многому научились и больше не повторяем
              ошибок, а даже наоборот перестали их совершать. Рекламный отдел компании Quantum Projects - это симбиоз профессионализма,
              расчетливости, стратегии и человечности. Хотя все рекламщики это еще те хищники.
            </p>
          </div>
          <div class="column">
            <h3 class="heavy">Оптимизация</h3>
            <p>Что же такое оптимизация и зачем ее проводить? Вы наверняка попадали в ситуацию когда ваша рекламная компания не
              срабатывала и на это было множество причин. Причины были настолько разными и неожиданными, что приходилось задуматься
              над другим вопросом - как вернуть потраченный бюджет. Оптимизация - это и есть инструмент, который не позволит
              Вам ошибиться и слить деньги в интернет трубу. Это глубокий анализ рекламной компании для достижения поставленных
              целей и получения максимальной выгоды.</p>
          </div>
          <div class="column">
            <h3 class="heavy">SMM</h3>
            <p>В скольких социальных сетях Вы зарегистрированы и сколько из них Вы используете в своем бизнесе? Чаще всего бизнесмены
              остаются консерваторами в подходах к своему делу. Но мир меняется! С появлением соц сетей он изменился еще больше.
              Теперь необязательно отправлять резюме на работу, достаточно отправить ссылку на свой профайл на FB. Соответсвенно
              с развитием социальных платформ, появились специалисты, которые помогают превратить Facebook, instagram, VK,
              LinkIdn и так далее в мощные инструменты получения дохода. Наши специалисты разбираться во всем. Ну почти во
              всем, Одноклассники прошли мимо.</p>
          </div>
        </div>
        <div class="second-list">
          <div class="column">
            <h3 class="heavy">SEM</h3>
            <p>Поисковый маркетинг комплекс мероприятий, направленный на увеличение посещаемости сайта его целевой аудиторией
              с помощью поисковых машин. Какой бы поисковой машиной вы не пользовались, просто знайте, что все Ваши запросы
              обрабатываются специалистами по поисковым машинам. Вы политик, бизнесмен, артист, простой человек не важо, поисковики
              знают о вас больше чем вы сами. И это не шпионский фильм, это - жизнь!!! Представьте если эту технологию использовать
              в бизнес целях. На запрос о свежих яблоках, пользователь видит именно ваш сайт по продаже яблок, заходит, покупает,
              приносит прибыль. Неплохо, правда? </p>
          </div>
          <div class="column">
            <h3 class="heavy">SEO</h3>
            <p>В связи с ежедневным приростом конкуренции в интернете, вы всегда должны быть на коне. Так как это не легко на
              вашем ресурсе необходима SEO оптимизация. Не задумывайтесь над расшифровкой данной аббревиатуры, лучше задумайтесь
              над тем какие результаты это принесет: уникальный контент, технологии, для поисковых машин, правильное количество
              внешних ссылок, поведенческий фактор, корректная верстка, чистый код, малый вес страницы. Звучит как всегда страшновато,
              но для наших специалистов по SEO оптимизации. </p>
          </div>
          <div class="column">
            <h3 class="heavy">Media Buying</h3>
            <p>Существует такая профессия - медиабаер. Профессия тяжелая и не каждому человеку по зубам. Ведь нужен четкий расчет,
              хладнокровие и стальные нервы. Иначе провал и потеря средств. Эти ребята как аукционисты на просторах интернета.
              Они скупают рекламные площадки исходя из выработанной стратегии и плана. Чутье не подводит их практически никогда,
              ведь от покупки правильной площади для рекламы, зависит результативность трафика на ресурс клиента. Вам стало
              интересно? Тогда приходите в Quantum Projects и мы вас с удовольствием познакомим.</p>
          </div>
        </div>
      </div>
    </div>    
  </div>
  //= footer.html
</section>