<div id="menu" class="menu-wrapper">
  <div class="bg-img"></div>
  <div id="close" class="close toggleMenu">
    <div class="cross">
      <div class="cross-line top"></div>
      <div class="cross-line bot"></div>
    </div>
  </div>
  <nav class="menu">
    <a class="menu-item" href="#first">Главная</a>
    <a class="menu-item" href="#features">Преимущества</a>
    <a class="menu-item" href="#web">Веб-разработка</a>
    <a class="menu-item" href="#mobile">Мобильная разработка</a>
    <a class="menu-item" href="#lead">Лидогенерация</a>
    <a class="menu-item" href="#last">Контакты</a>
    </ul>
  </nav>
</div>