<div id="menu" class="menu-wrapper">
  <div class="bg-img"></div>
  <div id="close" class="close toggleMenu">
    <div class="cross">
      <div class="cross-line top"></div>
      <div class="cross-line bot"></div>
    </div>
  </div>
  <nav class="menu">
      <a class="menu-item" href="#first">Разработка сайтов</a>
      <a class="menu-item" href="#features">Лидогенерация</a>
      <a class="menu-item" href="#web">Мобильная разработка</a>
      <a class="menu-item" href="#mobile">О нас</a>
      <a class="menu-item" href="#lead">Комманда</a>
      <a class="menu-item" href="#last">Контакты</a>
    </ul>
  </nav>
</div>