<section class="section mobile">
  <div class="section-inner">
    <div class="section-name">
      <span class="name">Мобильная разработка</span>
    </div>
    <div class="container">
      <div class="container-bg">
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
      </div>
      <div class="mobile-content">
        <div class="mobile-header">
          <div class="text">
            <h2>Разработка мобильных приложений любого масштаба</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, tempore corporis assumenda sunt doloribus,
              sapiente voluptatum consequuntur quod reprehenderit soluta id, eius magni inventore veritatis illum dolorum.
              In ut repellat atque a beatae sint officia animi perspiciatis voluptatum, maxime, veritatis alias similique
              magnam ad? Dolorum est expedita aspernatur facilis dicta?</p>
          </div>
          <div class="header-img">
            <div class="header-img-container" id="mobile-parallax">
              <div class="container-img" data-depth="0.2">
                <img class="img1" src="img/mobile2.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.4">
                <img class="img2" src="img/mobile1.png" alt="img">
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-list">
          <div class="first-list">
            <div class="column">
              <h3 class="heavy">Стратегия разработки</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatibus, odio at molestias deleniti iste
                neque repudiandae id voluptate? Nisi eveniet voluptate voluptates incidunt officiis saepe id eius veniam
                et.
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">Поддержка и гарантия</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ipsam molestiae earum dolore recusandae
                distinctio laborum qui velit corrupti ducimus exercitationem totam tempora ab, aut reiciendis vero nemo porro
                architecto?
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">UI/UX</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ea eaque, illum placeat ipsum fuga, laboriosam
                iure autem, cumque atque non obcaecati velit expedita qui facilis nam dolorem. Dicta, asperiores?</p>
            </div>
          </div>
          <div class="second-list">
            <div class="column">
              <h3 class="heavy">Технологии</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque ad cum porro adipisci. Ullam maxime itaque
                illum impedit eligendi aut animi numquam sed quos est. Vitae velit nesciunt placeat corrupti?</p>
            </div>
            <div class="column">
              <h3 class="heavy">Кроссплатформенность</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam magni impedit, quaerat, odio quas inventore,
                reprehenderit facere rerum accusantium nihil repudiandae unde nemo eius fuga magnam eum neque distinctio
                consectetur!
              </p>
            </div>
            <div class="column">
              <h3 class="heavy">Решение бизнес задач</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum deserunt voluptates cumque laboriosam numquam
                adipisci amet, quae ullam fuga. Eveniet reprehenderit excepturi rerum laboriosam? Rem alias accusamus veniam
                tempore?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>