<section class="section web">
  <div class="section-inner">
    <div class="container">
      <div class="container-bg">
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
      </div>
      <div class="web-content">
        <div class="lead-header">
          <div class="text">
            <h2>Разработка профессиональных сайтов и web-интеграции</h2>
            <p>Что, по вашему мнению, самое главное при разработке любого сайта? Красивый и удобный интерфейс? Многофункциональность?
              Мощная современная платформа cms с широкими возможностями интеграции? Продуманное техническое задание и его
              детальная реализация? Точное соблюдение разработчиками сроков? Или, может, привлекательная стоимость, в конце
              концов?.. Все это, безусловно, важно. Однако веб-студия Quantum Projects считает: все это вторично. Да-да,
              именно так! А первичным является... комплексный подход, который включает все перечисленное – и даже чуточку
              больше. Именно так можно разработать сайт, который приносит результат – а не это ли, по вашему мнению, самое
              главное для вашего бизнеса?</p>
          </div>
          <div class="header-img">
            <div class="header-img-container" id="web-parallax">
              <div class="container-img" data-depth="0.5">
                <img class="img1" src="../../img/group.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.5">
                <img class="img2" src="../../img/icon-3.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.4">
                <img class="img3" src="../../img/icon-4.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.4">
                <img class="img4" src="../../img/icon-1.png" alt="img">
              </div>
            </div>
          </div>
        </div>
        <div class="lead-list">
          <div class="first-list">
            <div class="column">
              <h3>Создание корпоративного сайта</h3>
              <p>Не только представить необходимую информацию о вашей компании, фирмы, а воплотить образ, стиль и подход к бизнесу
                в целом – это ключевая задача, которую решает разработка корпоративных сайтов от веб-студии Quantum Projects.
                Благодаря этому вы наладите прочный контакт с целевой аудиторией и завоюете ее доверие.</p>
            </div>
            <div class="column">
              <h3>Создание интернет-магазина</h3>
              <p>Продажи, продажи и еще раз продажи – если их нет, разработка вашего интернет-магазина не имела никакого смысла.
                Но чтобы такой сайт магазин продавал, необходимо учесть массу факторов! Потому интернет-магазин мы делаем
                для вашей фирмы и привлекательным, и удобным в плане юзабилити, и технологичным – продающим, одним словом.</p>
            </div>
            <div class="column">
              <h3>Разработка порталов</h3>
              <p>Размер имеет значение – уж при разработке столь огромных ресурсов как интернет-портал так точно. Потому что
                необходимо грамотно выстроить всю архитектуру корпоративного сайта портала, без чего невозможна удобная работа
                с ним. А значит, именно на этом мы и сделаем основной акцент: и вы, и ваши посетители оценят комфорт такого
                портала.</p>
            </div>
          </div>
          <div class="second-list">
            <div class="column">
              <h3>Разработка сайта банка</h3>
              <p>Лучшими характеристиками банка являются надежность и стабильность. И именно эти характеристики должны быть
                у сайта финансовой организации! Не важно, речь об информационном разделе или о системе интернет банкинга
                – наши разработчики предусмотрят все, чтобы ваш корпоративный портал в любой ситуации работал без сбоев.</p>
            </div>
            <div class="column">
              <h3>Разработка B2B / B2C / CMS / HR</h3>
              <p>Оригинальные наработки, накопленные за 14 лет работы, позволяют веб-студии Quantum Projects заниматься разработкой
                не только сайтов, но и специализированных технологических решений. Системы CMS для создания любого сайта,
                разработка интернет банкинга, HR-системы для работы с персоналом, комплексы для B2B и B2C – у нас вы найдете
                многое.</p>
            </div>
            <div class="column">
              <h3>Создание landing Page</h3>
              <p>Одна страница, но максимум эффективности – в случае с таким типом сайтов как лэндинг пэйдж описанный принцип
                должен быть ведущим в разработке. У нашей веб-студии все именно так. Поэтому при заказе подобного сайта,
                лэндинг пэйдж, у нас будьте уверены: он продемонстрирует максимально возможные конверсии.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>