<section class="section web">
  <div class="section-inner">
    <div class="section-name">
      <span class="name">Web-разработка</span>
    </div>
    <div class="container">
      <div class="container-bg">
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
        <div class="container-bg-col"></div>
      </div>
      <div class="web-content">
        <div class="lead-header">
          <div class="text">
            <h2>Разработка профессиональных сайтов и web-интеграции</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus minima, tempora quaerat qui eligendi eaque
              non distinctio aperiam autem, magnam necessitatibus mollitia enim voluptatibus, possimus nam repudiandae dolores
              unde eius. Aspernatur quo quod, voluptatibus iusto perspiciatis eaque suscipit non ea, vitae maiores doloremque
              minima a repellat odio tenetur veritatis ut!</p>
          </div>
          <div class="header-img">
            <div class="header-img-container" id="web-parallax">
              <div class="container-img" data-depth="0.5">
                <img class="img1" src="img/group.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.5">
                <img class="img2" src="img/icon-3.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.4">
                <img class="img3" src="img/icon-4.png" alt="img">
              </div>
              <div class="container-img" data-depth="0.4">
                <img class="img4" src="img/icon-1.png" alt="img">
              </div>
            </div>
          </div>
        </div>
        <div class="lead-list">
          <div class="first-list">
            <div class="column">
              <h3>Корпоративный сайт</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
            <div class="column">
              <h3>Интернет-магазин</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
            <div class="column">
              <h3>Портал</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
          </div>
          <div class="second-list">
            <div class="column">
              <h3>Банковский сервис</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
            <div class="column">
              <h3>Дизайнерский проект</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
            <div class="column">
              <h3>Лендинг</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto dolor voluptatum ut quam, atque
                mollitia velit quo aperiam fugiat unde harum aliquam accusantium sit quisquam officiis, repudiandae modi
                sapiente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>